<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade</title>
    <link rel="stylesheet" href="/static/upgrade.css">
</head>
<body>

    <div class="account-link-container">
        <a href="/account">My Account</a>
        <a href="/upgrade" style="margin-left: 20px;">Upgrade</a>
        <a href="/about" style="margin-left: 20px;">About</a>
        <a href="/chat" style="margin-left: 20px;">Chat</a>
    </div>
    
    <div class="container">
        <h1>Upgrade your subscription</h1>
        <p>
            Everytime you ask a question to the AI tutor, it costs me money. 
            Now I don't mind paying a small fee so you can enhance and speed up your learning. 
            But, the service would not exist for long. Therefore, I currently limit the number of 
            free questions to all users. If you wish to have more questions, 
            you can upgrade your account and at the same time support the further development 
            of this platform. :)
        </p>
        <div class="benefits">
            <div class="benefit free">
                <h3>Free Tier</h3>
                <h3>$0 / month</h3>
                <ul>
                    <li>10 free questions a day</li>
                </ul>
            </div>
            <div class="benefit full-access">
                <h3>Full Access Tier</h3>
                <h3>$10 / month</h3>
                <ul>
                    <li>Unlimited chat</li>
                    <li>Increased maximum response length</li>
                </ul>
            </div>
            <div class="benefit premium">
                <h3>Premium Tier</h3>
                <h3>$50 / month</h3>
                <ul>
                    <li>Unlimited chat</li>
                    <li>Increased maximum response length</li>
                    <li>Preferred user feedback</li>
                    <li>Your own personalised AI model, trained on your own data [BETA]</li>
                    *Limited to 5 people for now.
                </ul>
            </div>
        </div>
        <div class="patreon">
            <h2>Subscribe via Patreon</h2>
            <p>
                At the moment there is no on-site subscription integration. The best way to upgrade your
                account is to support me on Patreon and I will give you a subscription. Stripe and PayPal support
                coming soon.
            </p>
            <a href="https://www.patreon.com/" target="_blank">
                <img src="/static/Digital-Patreon-Wordmark_WhiteOnBlack-Lg.jpg" alt="Patreon Logo">
            </a>
        </div>
        <a href="/chat" class="back-to-chat">Go back to chat</a>
    </div>
</body>
</html>
